.card-pilot, .card-film {
    background: #252525;
    border-radius: 15px;  /* 🔵 Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 🔵 Sombra suave */
    padding: 10px;
    margin: 10px;
    width: auto; /* 🔵 Tamaño fijo */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    color: white;
  }

  @media (max-width: 768px) {
    .pilots {
      justify-content: center; /* 🔵 Tamaño fijo */
    }
  }