  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-xl-8 d-flex justify-content-center">
          <div class="card shadow d-flex flex-column mx-auto p-3 mb-3 text-center">
            <h3 class="card-title mb-2">Sign up</h3>
        <form [formGroup]="profileForm">
              <div class="mb-3">
          <label for="mail">Email:</label>
          <input id="mail" type="text" formControlName="mail" required/>
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input id="password" type="text" formControlName="password" required />
        </div>
        <div class="col d-flex flex-column">
          <button type="submit" (click)="createAccount()" class="btn btn-success">Sign up</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>